body{
    background-color:#B3E5FC;
    border-radius: 10px;
}
.card{
  width: 300px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
}
.stats{
      background: #f2f5f8 !important;
    color: #000 !important;
}
